<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>Shop</h:head>
<h:body>
    <h:form>
        <p:panel header="Создание товара" >
            <p:panelGrid columns="2">
                <p:column>
                    <p:inputText value="#{orderBean.name}" />
                </p:column>
                <p:column>
                    <p:inputText value="#{orderBean.quantity}" />
                </p:column>
                <p:column>
                    Наименование
                </p:column>
                <p:column>
                    Цена
                </p:column>
                <p:column>
                    <p:commandButton value="Создать товар" action="#{orderBean.createProduct()}" />
                </p:column>
                <p:column>
                    <p:commandButton value="Создать заказ" action="#{orderBean.createOrder()}" />
                </p:column>
            </p:panelGrid>
        </p:panel>

        <h1>Созданные товары</h1>
        <h:dataTable value="#{orderBean.products()}" var="product">
            <h:column>
                <h:outputText value="#{product.name}" />
            </h:column>
            <h:column>
                <h:outputText value="#{product.quantity}" />
            </h:column>
            <h:column>
                <h:commandButton value="Добавить" action="#{orderBean.addProductToOrder(product)}" />
            </h:column>
        </h:dataTable>
    </h:form>
    <h1>Козина</h1>
    <h:dataTable value="#{orderBean.productsInOrder()}" var="product">
        <h:column>
            <h:outputText value="#{product.name}" />
        </h:column>
        <h:column>
            <h:outputText value="#{product.quantity}" />
        </h:column>
    </h:dataTable>
</h:body>
</html>
